<div class="app">
  <mat-toolbar color="primary">
    <span style="display: block;margin: 0 auto;">Application de ouuuf</span>
    <div class="button1"><button class="test" mat-icon-button (click)="goto()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>shopping_cart </mat-icon>
    </button></div>

    <div class="button2"><button mat-icon-button (click)="goto1()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>store </mat-icon>
    </button></div>
  </mat-toolbar>

</div>

<router-outlet></router-outlet>
